<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.data>
    <DbProviderFactories>

      <!-- MySQL ADO.NET Support -->
      <!--
      <remove invariant="MySQL.Data.MySqlClient"/>
      <add name="MySQL Data Provider"
        invariant="MySQL.Data.MySqlClient"
        description=".Net Framework Data Provider for MySQL"
        type="MySql.Data.MySqlClient.MySqlClientFactory, MySQL.Data" />
      -->

      <!-- SQLite ADO.NET Support -->
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      
    </DbProviderFactories>
  </system.data>  
  
</configuration>